svg {
	border: 1px solid red;
}

@keyframes show {
	from { opacity: 0; }
	to { opacity: 1; }
}
.show {
	animation: show 1s ease;
}

.line {
	animation: show 1s ease;
	stroke: #333;
	stroke-width: 1;
	marker-end: url(#arrow);
}


#arrow {
	markerUnits: strokeWidth;
	markerWidth: 6;
	markerHeight: 12;
	viewBox: 0 0 12 12;
	refX: 18;
	refY: 6;
	orient: auto;
}
#arrow path {
	d: M2,2 L10,6 L2,10 L6,6 L2,2;
	fill: #333;
}