svg {
	border: 1px solid red;
}

@keyframes show {
	from { opacity: 0; }
	to { opacity: 1; }
}
.show {
	animation: show 1s ease;
}

.userid {
	font-size: 10px;
}
.line {
	animation: show 1s ease;
	stroke: #333;
	stroke-width: 1;
	marker-end: url(#arrow);
}
